[submodule "submodules/hafas-client"]
	path = submodules/hafas-client
	url = https://github.com/lzear/hafas-client.git
[submodule "submodules/react-leaflet"]
	path = submodules/react-leaflet
	url = https://github.com/lzear/react-leaflet.git
